/* ==========================================================================
Main page styles
========================================================================== */

.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 2px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 100px;
  margin: 20px;
  border-radius: 4px;
}

.horzontalList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #000;
}

.inputBtn {
  text-align: left;
  border-color: #3498db;
  border-radius: 4px;
  background-color: #3498db;
  color: white;
  margin-right: 40px;
}

.priamryColor {
  background-color: #3498db;
}

input {
  text-align: center;
  border-radius: 4px;
}

.dropbtn:hover {
  background-color: #56cc9d;
}

.inputBtn:hover {
  background-color: #56cc9d;
}

.show {
  display: block;
}

.table-responsive {
  overflow: visible;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// .datePickerFarsi {
//   display: block;
// }
