/* ==========================================================================
Main page styles
========================================================================== */

$shadowPx: 50px;
$cardHeight: 180px;
$primaryColor: #56cc9d;
.hipster {
  display: flex;
  width: 200px;
  height: 250px;
  background: url('../../../content/images/ artesh-logo.png') no-repeat center top;
  //background-size: contain;
}

.enterButton {
  width: 200px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  align-content: center;
  background-color: white;
  color: rgb(41, 172, 80);
  border-radius: 5%;
}

.horzontalList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
}

.title {
  justify-content: center;
  padding: 20px;
  font-weight: bold;
}

.row {
  justify-content: center;
  padding: 20px;
}

.rtlConfig ul ui {
  float: right;
}

// [dir='rtl'] .rtlConfig {
//   margin-right: 20px;
// }

.cardd-1 {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: $cardHeight;
  width: $cardHeight;
  font-size: 18px;
  position: relative;
}

.cardd-1 {
  height: $cardHeight;
  width: $cardHeight;
  border-width: 0;
  background: #fff;
  border-radius: 8px;
  display: inline-block;
  margin: 14px;
  box-shadow: 0 1px 3px $primaryColor, 0 1px 2px $primaryColor;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cardd-1:hover {
  height: $cardHeight;
  width: $cardHeight;
  box-shadow: 0 8px 8px $primaryColor, 0 8px 8px $primaryColor;
}
