/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: flex;
  width: 200px;
  height: 250px;
  background: url('../../../content/images/ artesh-logo.png') no-repeat center top;
  //background-size: contain;
}

.enterButton {
  width: 200px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  align-content: center;
  background-color: white;
  color: rgb(41, 172, 80);
  border-radius: 5%;
}

.horzontalList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
}

.title {
  justify-content: center;
  padding: 20px;
  font-weight: bold;
}

.row {
  justify-content: center;
  padding: 20px;
}

.rightFloat {
  float: right;
}

[dir='rtl'] .rtlConfig {
  margin-right: 20px;
}

.menuButton {
  border-radius: 8px;
  border-width: 2;
  border-color: black;
  margin: 20px;
  height: 100px;
  width: 300px;
  border-collapse: separate;
}
